@font-face {
   font-family: 'ReadexPro-VariableFont_HEXP,wght';
   font-display: swap;
   src: url('file:///C:/Users/zex/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-10_124658/fonts/ReadexPro-VariableFont_HEXP,wght/font.ttf');
}
